body{
    background-color: #7A516D;
}
/*CADRE RANDOM FACT PAGE ACCUEIL*/
#randomindex{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top:1%;
    padding-bottom:1%;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top:1%;
    border: 2px solid #BB73A4;
    width: 20%;
}
/*PAGE CHAT*/
#logocat{
    width: 8%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
#logocat:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10%;
    border: 2px double #BB73A4;
}
/*PAGE CHIEN*/
#logodog{
    width: 8%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
#logodog:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10%;
    border: 2px double #BB73A4;
}
/*PAGE CHEVAL*/
#logohorse{
    width: 8%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
#logohorse:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10%;
    border: 2px double #BB73A4;
}
/*DATA PAGE CHAT CHIEN ET CHEVAL */
#data{
    width: 600px;
    border: 1px solid #BB73A4;
    border-radius: 2%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    color:#BB73A4;
}