body{
    background-color: #EEDAE8;
}
#logo{
    width: 12%;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    border-radius: 6%;
    border: 2px solid white;
}
#RandomCat{
    text-align: center;
    color: grey;
    font-size: 20px;
  }
#data{
    width: 600px;
    border: 1px solid grey;
    border-radius: 2%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding:20px;
}